body {
	  font-size: 12px;
      color: #393939;
      font-family: Helvetica, Arial, "sans-serif";
      letter-spacing: 0.8;
      text-align: justify;
      height:100%;
      background-color: #F6BA6F;
      margin: 0;
	}
  
	.container {
	width: 80%;
  min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
  background-color: #FFFAF4;
  display: flex;
  flex-direction: column;
  flex: 1;
}
  
  .tekstilaatikko {
  height:100%;
	margin-left: auto;
	margin-right: auto;
  padding-top:60px;
  }
  
  nav {
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  margin-top: -10px;
  background-color: #6DA9E4;
}
nav ul li {
	float: left;
	color: #769642;
	font-size: 13px;
  margin-right: 25px;
	letter-spacing: 2px;
  list-style: none;
	text-transform: uppercase;
  font-weight: lighter;
	transition: all 0.3s linear;
}
ul li a {
	color: #ffffff;
	text-decoration: none;
}
ul li:hover a {
	color: #DF7861;
}
	header {
		text-align: center;
		background-color:#FFF8ED;
		height:30px;
		text-transform: uppercase;
      padding-top: 40px;
		font-size: 24px;
		color: #468B97;
      letter-spacing: 2px;
      font-weight: lighter;
	}
	.txt {
	  float: left;
      width: 83%;
      padding-left:10%;
      padding-right:10%;
      padding-bottom: 5%;
      line-height: 1.2;
	}
	
	h2 {
		font-size: 15px;
		text-transform: uppercase;
		color: #FF9256;
        letter-spacing: 2px;
        font-weight: lighter;
	}
  	.info {
  	  	text-align: center;
		background-color:#FFF8ED;
		height:60px;
      padding-top: 80px;
		font-size: 11px;
		text-transform: uppercase;
		color: #6DA9E4;
        letter-spacing: 1px;
        font-weight: lighter;
	}
	
@media (max-width: 600px) {
  .container {
    width: 90%;
    height: 100%;
  }
  .tekstilaatikko {
    height: 100%;
  }
  .info {
    padding-top: 130px;
    padding-left: 10px;
    padding-right:10px;
  }
  nav{
    height: 15%; 
  }
  ul {
    margin-right: 150px;
  }
  }
